// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-almost-white: hsl(0 0% 97%);
$-clr-grayish-blue: hsl(229, 8%, 60%);
$-clr-very-dark-blue: hsl(229, 31%, 21%);
$-clr-soft-blue: hsl(231, 69%, 60%);
$-clr-soft-red: hsl(0, 94%, 66%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-almost-white,
    "500": $-clr-grayish-blue,
    "900": $-clr-very-dark-blue,
  ),
  "primary": (
    "400": $-clr-soft-blue,
    "500": $-clr-soft-red,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-500: var(--neutral-500);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
