@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="tab"] {
  --max-width: #{$container-max-width-tab};
}
.container[data-type="browsers"] {
  --max-width: #{$container-max-width-browsers};
}
.container[data-type="accordion"] {
  --max-width: #{$container-max-width-accordion};
}
.container[data-type="cta"] {
  --max-width: #{$container-max-width-cta};
}
.container[data-type="hero"] {
  --max-width: #{$container-max-width-hero};
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}
