@use "../abstracts/" as *;

.main__btn {
  transition: 250ms ease-in-out;
  border: 2px solid transparent;
}

.main__btn[data-type="primary"]:is(:hover, :focus) {
  background-color: $color-neutral-100;
  color: $color-primary-400;
  outline: 2px solid $color-primary-400;
  outline-offset: 4px;
  border-color: $color-primary-400;
}

.main__btn[data-type="secondary"]:is(:hover, :focus) {
  background-color: $color-neutral-100;
  color: $color-neutral-900;
  outline: 2px solid $color-neutral-900;
  outline-offset: 4px;
  border-color: $color-neutral-900;
}
