---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Frontend Mentor | Bookmark landing page">
  <div class="hero | container mt-10 grid gap-10 lg:mt-15" data-type="hero">
    <div class="hero__image lg:order-last">
      <img
        class="mx-auto lg:mx-0 lg:h-[440px]"
        src="/assets/images/illustration-hero.svg"
        alt=""
      />
    </div>
    <div
      class="max-w-[33.75rem] mx-auto flex flex-col gap-8 lg:mx-0 lg:mt-[4.375rem]"
    >
      <div class="flex flex-col gap-4 text-center lg:text-left lg:gap-6">
        <h1 class="heading-1 text-balance">A Simple Bookmark Manager</h1>
        <p>
          A clean and simple interface to organize your favourite websites. Open
          a new browser tab and see your sites load instantly. Try it for free.
        </p>
      </div>
      <div
        class="flex justify-center flex-wrap gap-[0.875rem] lg:justify-start"
      >
        <a
          class="main__btn | bg-soft-blue text-white py-[0.625rem] px-4 border-radius-1 box-shadow-1"
          data-type="primary"
          href="#">Get it on Chrome</a
        >
        <a
          class="main__btn | bg-almost-white py-[0.625rem] px-4 border-radius-1 box-shadow-1"
          data-type="secondary"
          href="#">Get it on Firefox</a
        >
      </div>
    </div>
  </div>

  <div
    class="container mt-25 flex flex-col gap-4 text-center
          text-center max-w-[33.75rem] lg:mt-20"
  >
    <h2 class="heading-2 tracking-[-0.08px]">Features</h2>
    <p>
      Our aim is to make it quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access them
      on the go.
    </p>
  </div>

  <div class="mt-10 flex flex-col gap-18 lg:mt-18">
    <div class="container" data-type="tab">
      <ul
        class="fs-500 flex flex-col text-center lg:flex-row lg:justify-center"
        role="tablist"
        aria-orientation="vertical"
      >
        <li
          class="current py-5 border-y border-[rgba(73,93,207,20.01%)] lg:py-0 lg:pb-8 lg:border-y-0 lg:border-b lg:grow"
          role="presentation"
        >
          <a
            role="tab"
            href="#section1"
            id="tab1"
            aria-selected="true"
            data-tab="section1">Simple Bookmarking</a
          >
        </li>
        <li
          class="py-5 lg:py-0 lg:pb-8 lg:border-[rgba(73,93,207,20.01%)] lg:border-b lg:grow"
          role="presentation"
        >
          <a
            role="tab"
            tabindex="-1"
            href="#section2"
            id="tab2"
            data-tab="section2">Speedy Searching</a
          >
        </li>
        <li
          class="py-5 border-y border-[rgba(73,93,207,20.01%)] lg:py-0 lg:pb-8 lg:border-y-0 lg:border-b lg:grow"
          role="presentation"
        >
          <a
            role="tab"
            tabindex="-1"
            href="#section3"
            id="tab3"
            data-tab="section3">Easy Sharing</a
          >
        </li>
      </ul>
    </div>

    <div class="container">
      <section
        class="tabpanel grid gap-24"
        role="tabpanel"
        id="section1"
        aria-labelledby="tab1"
      >
        <div class="tabpanel__image">
          <img
            class="mx-auto lg:mx-0"
            src="/assets/images/illustration-features-tab-1.svg"
            alt=""
          />
        </div>
        <div
          class="flex flex-col gap-4 text-center max-w-[27.8125rem] mx-auto lg:text-left lg:self-center lg:mx-0"
        >
          <h2 class="heading-2">Bookmark in one click</h2>
          <p>
            Organize your bookmarks however you like. Our simple drag-and-drop
            interface gives you complete control over how you manage your
            favourite sites.
          </p>
          <a
            class="main__btn | bg-soft-blue text-white py-[0.625rem] px-6 w-fit mx-auto border-radius-1 box-shadow-1 lg:mx-0 lg:mt-4"
            data-type="primary"
            href="#">More Info</a
          >
        </div>
      </section>
      <section
        class="tabpanel gap-24"
        role="tabpanel"
        id="section2"
        aria-labelledby="tab2"
        hidden
      >
        <div class="tabpanel__image">
          <img
            class="mx-auto lg:mx-0"
            src="/assets/images/illustration-features-tab-2.svg"
            alt=""
          />
        </div>
        <div
          class="flex flex-col gap-4 text-center max-w-[27.8125rem] mx-auto lg:text-left lg:self-center lg:mx-0"
        >
          <h2 class="heading-2">Intelligent search</h2>
          <p>
            Our powerful search feature will help you find saved sites in no
            time at all. No need to trawl through all of your bookmarks.
          </p>
          <a
            class="main__btn | bg-soft-blue text-white py-[0.625rem] px-6 w-fit mx-auto border-radius-1 box-shadow-1 lg:mx-0 lg:mt-4"
            data-type="primary"
            href="#">More Info</a
          >
        </div>
      </section>
      <section
        class="tabpanel gap-24"
        role="tabpanel"
        id="section3"
        aria-labelledby="tab3"
        hidden
      >
        <div class="tabpanel__image">
          <img
            class="mx-auto lg:mx-0"
            src="/assets/images/illustration-features-tab-3.svg"
            alt=""
          />
        </div>
        <div
          class="flex flex-col gap-4 text-center max-w-[27.8125rem] mx-auto lg:text-left lg:self-center lg:mx-0"
        >
          <h2 class="heading-2">Share your bookmarks</h2>
          <p>
            Easily share your bookmarks and collections with others. Create a
            shareable link that you can send at the click of a button.
          </p>
          <a
            class="main__btn | bg-soft-blue text-white py-[0.625rem] px-6 w-fit mx-auto border-radius-1 box-shadow-1 lg:mx-0 lg:mt-4"
            data-type="primary"
            href="#">More Info</a
          >
        </div>
      </section>
    </div>
  </div>

  <div class="container mt-20 flex flex-col gap-10" data-type="browsers">
    <div
      class="flex flex-col gap-4 text-center text-balance max-w-[33.75rem] mx-auto"
    >
      <h2 class="heading-2">Download the extension</h2>
      <p>
        We’ve got more browsers in the pipeline. Please do let us know if you’ve
        got a favourite you’d like us to prioritize.
      </p>
    </div>
    <div class="browsers-extension | grid gap-4">
      <!-- Chrome -->
      <div
        class="chrome | flex flex-col gap-6 pt-13 pb-6 px-[2px] max-w-[17.75rem] mx-auto border-radius-2 box-shadow-2"
      >
        <div class="flex flex-col gap-8">
          <img
            class="mx-auto"
            src="/assets/images/logo-chrome.svg"
            alt=""
            width="102"
            height="100"
          />
          <div class="flex flex-col gap-[6px] text-center">
            <h3 class="heading-3">Add to Chrome</h3>
            <p>Minimum version 62</p>
          </div>
          <img src="/assets/images/bg-dots.svg" alt="" />
        </div>
        <a
          class="main__btn | bg-soft-blue text-white py-[0.625rem] px-9 border-radius-1 box-shadow-1 w-fit mx-auto"
          data-type="primary"
          href="#">Add & Install Extension</a
        >
      </div>
      <!-- Firefox -->
      <div
        class="firefox | flex flex-col gap-6 pt-13 pb-6 px-[2px] max-w-[17.75rem] mx-auto border-radius-2 box-shadow-2"
      >
        <div class="flex flex-col gap-8">
          <img
            class="mx-auto"
            src="/assets/images/logo-firefox.svg"
            alt=""
            width="105"
            height="100"
          />
          <div class="flex flex-col gap-[6px] text-center">
            <h3 class="heading-3">Add to Firefox</h3>
            <p>Minimum version 55</p>
          </div>
          <img src="/assets/images/bg-dots.svg" alt="" />
        </div>
        <a
          class="main__btn bg-soft-blue text-white py-[0.625rem] px-9 border-radius-1 box-shadow-1 w-fit mx-auto"
          data-type="primary"
          href="#">Add & Install Extension</a
        >
      </div>
      <!-- Opera -->
      <div
        class="opera | flex flex-col gap-6 pt-13 pb-6 px-[2px] max-w-[17.75rem] mx-auto border-radius-2 box-shadow-2"
      >
        <div class="flex flex-col gap-8">
          <img
            class="mx-auto"
            src="/assets/images/logo-opera.svg"
            alt=""
            width="96"
            height="100"
          />
          <div class="flex flex-col gap-[6px] text-center">
            <h3 class="heading-3">Add to Opera</h3>
            <p>Minimum version 46</p>
          </div>
          <img src="/assets/images/bg-dots.svg" alt="" />
        </div>
        <a
          class="main__btn bg-soft-blue text-white py-[0.625rem] px-9 border-radius-1 box-shadow-1 w-fit mx-auto"
          data-type="primary"
          href="#">Add & Install Extension</a
        >
      </div>
    </div>
  </div>

  <div class="container mt-25 flex flex-col gap-12" data-type="accordion">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-4 text-center text-balance">
        <h2 class="heading-2">Frequently Asked Questions</h2>
        <p>
          Here are some of our FAQs. If you have any other questions you’d like
          answered please feel free to email us.
        </p>
      </div>
      <div role="group" aria-labelledby="AccId">
        <details
          class="pb-3 pt-5 border-y border-solid border-very-dark-blue/[0.15]"
          name="faq"
          open
        >
          <summary
            class="list-none cursor-pointer flex justify-between items-center"
            id="Acc1"
          >
            <p class="text-very-dark-blue">What is Bookmark?</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"
              ><path
                fill="none"
                stroke="#5267DF"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path></svg
            >
          </summary>
          <div class="pt-6 pb-4" role="region">
            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum
              quis quam ornare mattis.
            </p>
          </div>
        </details>

        <details
          class="pt-5 pb-3 border-b border-solid border-very-dark-blue/[0.15]"
          name="faq"
        >
          <summary
            class="list-none cursor-pointer flex justify-between items-center"
            id="Acc2"
          >
            <p class="text-very-dark-blue">How can I request a new browser?</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"
              ><path
                fill="none"
                stroke="#5267DF"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path></svg
            >
          </summary>
          <div class="pt-6 pb-4" role="region">
            <p class="text-sm">
              Vivamus luctus eros aliquet convallis ultricies. Mauris augue
              massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus
              eros aliquet convallis ultricies. Mauris augue massa, ultricies
              non ligula. Suspendisse imperdie tVivamus luctus eros aliquet
              convallis ultricies. Mauris augue massa, ultricies non ligula.
              Suspendisse imperdiet.
            </p>
          </div>
        </details>

        <details
          class="pt-5 pb-3 border-b border-solid border-very-dark-blue/[0.15]"
          name="faq"
        >
          <summary
            class="list-none cursor-pointer flex justify-between items-center"
            id="Acc3"
          >
            <p class="text-very-dark-blue">Is there a mobile app?</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"
              ><path
                fill="none"
                stroke="#5267DF"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path></svg
            >
          </summary>
          <div class="pt-6 pb-4" role="region">
            <p class="text-sm">
              Sed consectetur quam id neque fermentum accumsan. Praesent luctus
              vestibulum dolor, ut condimentum urna vulputate eget. Cras in
              ligula quis est pharetra mattis sit amet pharetra purus. Sed
              sollicitudin ex et ultricies bibendum.
            </p>
          </div>
        </details>

        <details
          class="pt-5 pb-3 border-b border-solid border-very-dark-blue/[0.15]"
          name="faq"
        >
          <summary
            class="list-none cursor-pointer flex justify-between items-center"
            id="Acc4"
          >
            <p class="text-very-dark-blue">
              What about other Chromium browsers?
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"
              ><path
                fill="none"
                stroke="#5267DF"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path></svg
            >
          </summary>
          <div class="pt-6 pb-4" role="region">
            <p class="text-sm">
              Integer condimentum ipsum id imperdiet finibus. Vivamus in
              placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida
              pellentesque non ut velit.
            </p>
          </div>
        </details>
      </div>
    </div>
    <a
      class="main__btn bg-soft-blue text-white py-[0.625rem] px-6 border-radius-1 box-shadow-1 w-fit mx-auto"
      data-type="primary"
      href="#">More Info</a
    >
  </div>

  <div class="mt-24 bg-soft-blue pt-15 pb-10">
    <div class="container flex flex-col gap-8" data-type="cta">
      <div class="flex flex-col gap-4">
        <p class="text-white text-center tracking-[4.62px] uppercase">
          35,000+ already joined
        </p>
        <h2 class="fs-800 fw-medium text-white text-center tracking-[-0.08px]">
          Stay up-to-date with what we’re doing
        </h2>
      </div>
      <form class="cta | grid gap-4" action="#">
        <div>
          <label class="sr-only" for="email-address">Email Address</label>
          <input
            class="cta__input | fs-200 text-very-dark-blue w-full py-[0.625rem] px-5 border-radius-1 leading-loose"
            type="email"
            id="email-address"
            name="email"
            placeholder="Enter your email address"
            aria-invalid="false"
          />
        </div>
        <button
          class="cta__btn | fs-200 bg-soft-red text-white py-[0.625rem] px-6 border-radius-1 box-shadow-1 leading-loose"
          type="submit">Contact Us</button
        >
      </form>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .hero {
    @include mq(large) {
      grid-template-columns: 1fr 1fr;
      gap: $size-6;
    }

    &__image {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 25%;
        left: 90%;
        width: 100vw;
        height: 75%;
        background-color: $color-primary-400;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 25%;
        right: 0;
        width: 70%;
        height: 75%;
        background-color: $color-primary-400;
        border-top-left-radius: 100vh;
        border-bottom-left-radius: 100vh;
        z-index: -1;
      }
    }
  }

  .main__btn {
    transition: 400ms ease-in-out;
  }

  .main__btn[data-type="primary"]:is(:hover, :focus-visible) {
    background-color: $color-neutral-100;
    color: $color-primary-400;
    outline: 2px solid $color-primary-400;
    outline-offset: -2px;
  }

  .main__btn[data-type="secondary"]:is(:hover, :focus-visible) {
    background-color: $color-neutral-100;
    color: $color-neutral-900;
    outline: 2px solid $color-neutral-900;
    outline-offset: -2px;
  }

  .current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-primary-500;
      width: 150px;
      height: 4px;

      @include mq(large) {
        width: 100%;
      }
    }
  }

  .tabpanel {
    @include mq(large) {
      grid-template-columns: 1fr 1fr;
      gap: 7.75rem;
    }

    &:first-of-type {
      .tabpanel__image {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 20%;
          right: 90%;
          width: 100vw;
          height: 100%;
          background-color: $color-primary-400;
          z-index: -1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 20%;
          left: 0;
          width: 70%;
          height: 100%;
          background-color: $color-primary-400;
          border-top-right-radius: 100vh;
          border-bottom-right-radius: 100vh;
          z-index: -1;
        }
      }
    }

    &:nth-child(2),
    &:last-of-type {
      .tabpanel__image {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 20%;
          right: 90%;
          width: 100vw;
          height: 90%;
          background-color: $color-primary-400;
          z-index: -1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 20%;
          left: 0;
          width: 70%;
          height: 90%;
          background-color: $color-primary-400;
          border-top-right-radius: 100vh;
          border-bottom-right-radius: 100vh;
          z-index: -1;
        }
      }
    }
  }

  .browsers-extension {
    @include mq(large) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(9, 1fr);
      column-gap: $size-8;
      row-gap: 0;
    }

    & .chrome {
      @include mq(large) {
        grid-column: 1;
        grid-row: 1 / 8;
      }
    }
    & .firefox {
      @include mq(large) {
        grid-column: 2;
        grid-row: 2 / 9;
      }
    }
    & .opera {
      @include mq(large) {
        grid-column: 3;
        grid-row: 3 / 10;
      }
    }
  }

  summary p {
    transition: 275ms ease-in-out;
  }

  summary:is(:hover, :focus-visible) p {
    color: $color-primary-500;
  }

  summary:focus-visible {
    outline: 2px solid $color-primary-500;
    outline-offset: 4px;
    border-radius: $border-radius-1;
  }

  details[open=""] > summary {
    path {
      stroke: #fa5959;
    }
  }

  details svg {
    transition: 275ms ease-in-out;
  }

  details[open=""] > summary {
    svg {
      transform: rotate(180deg);
    }
  }

  .cta {
    @include mq(medium) {
      grid-template-columns: 1fr auto;
    }

    &__input {
      outline: 2px solid transparent;

      &[aria-invalid="false"]:focus-visible {
        outline-color: $color-neutral-200;
        outline-offset: 4px;
      }
    }

    &__btn {
      outline: 2px solid transparent;
      transition: 400ms ease-in-out;
      &:is(:hover, :focus-visible) {
        color: $color-primary-500;
        background-color: $color-neutral-100;
        outline-color: $color-primary-500;
      }
    }
  }
</style>
