---

---

<nav aria-label="primary navigation">
  <ul class="nav | flex-group uppercase fs-600 tracking-[1.5px]">
    <li><a href="/index.html">Features</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Contact</a></li>
    <li>
      <a
        class="bg-soft-red text-white padding-block-3 padding-inline-8 border-radius-1"
        href="#">Login</a
      >
    </li>
  </ul>
</nav>
<style lang="scss">
  @use "../styles/abstracts" as *;
  .nav {
    --flex-column-gap: #{$navigation-gap};
  }

  li:last-of-type > a {
    outline: 2px solid transparent;
    transition: 400ms ease-in-out;
    &:is(:hover, :focus-visible) {
      color: $color-primary-500;
      background-color: $color-neutral-100;
      outline-color: $color-primary-500;
      outline-offset: -2px;
    }
  }
</style>
